@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
body{
  background-color: #121924;
  overflow-x: hidden;
}

.hi{
    /* background-clip: text; */
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    /* border-radius: ; */
    background: linear-gradient(to right, red, purple);
    padding: 2px;
  }

@media (max-width: 768px) {
  .legend{
    bottom: 0 !important;
    background-color: #000000c7 !important;
  }
}